.custom-shape-divider-top-1692512740 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1692512740 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 45px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1692512740 .shape-fill {
    fill: #ffffff;
}

.custom-shape-divider-bottom-1692513574 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1692513574 svg {
    position: relative;
    display: block;
    width: calc(168% + 1.3px);
    height: 68px;
}

.custom-shape-divider-bottom-1692513574 .shape-fill {
    fill: #383d41;
}
